definitions:
  checkov-image: &checkov-image
    name: bridgecrew/checkov:latest
    entrypoint:
      - '/usr/bin/env'
      - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

  release: &release
    name: release
    image: ghcr.io/adaptavist/docker-semantic-release:17.4.2-alpine3.11
    script:
      - semantic-release -r ${BITBUCKET_GIT_HTTP_ORIGIN}

  scripts:
    - &checkov >
      checkov --quiet --compact -s -d . --download-external-modules true -o github_failed_only > compliance-issues.md &&
      checkov --quiet --compact -s -d . --download-external-modules true

pipelines:
  default:
    - parallel:
        - step:
            name: 'Checkov analysis'
            image: *checkov-image
            services:
                - docker
            script:
                - *checkov
        - step:
            name: 'Terraform validate'
            image: hashicorp/terraform:1.13.2
            script:
                - terraform init && terraform validate
        - step:
            name: 'Lint commit messages'
            image: node:24-slim
            clone:
                depth: full
            script:
                - apt-get update && apt-get install git -y
                - npm install --save-dev @commitlint/config-conventional @commitlint/cli
                - npx commitlint --from "${BITBUCKET_COMMIT}~$(git rev-list --count ${BITBUCKET_BRANCH} ^origin/${BITBUCKET_PR_DESTINATION_BRANCH:-master})" --to "${BITBUCKET_COMMIT}" --verbose
  branches:
    master:
      - step: *release
